.cart {
  h1 {
    font-size: 2rem;
    margin: 0;
    text-transform: uppercase;
  }

  h2 {
    font-size: 1.2rem;
    margin: 1rem 0 0;
    text-transform: uppercase;
  }

  .modal-footer {
    display: flex;
    justify-content: center;

    .modal-action {
      margin: 1rem;

      @media #{$small-and-down} {
        margin: 1rem 0.2rem;
        padding: 0 1rem;
      }
    }
  }

  .btn-empty,
  .btn-remove-item {
    color: $primary-color-dark;
    text-decoration: none;
  }

  .btn-remove-item {
    margin-left: 1rem;
  }
}
