.page-home {
  [data-role="cart"] {
    align-items: center;
    display: flex;
    flex-direction: row;

    .badge {
      border-radius: 2px;
      color: $primary-color-dark;
      font-family: $system-font;
      font-size: 0.8rem;
    }

    .material-icons {
      margin: 0;
    }
  }
}
