//// *******************************
////  LAYOUT
//// *******************************
html {
  box-sizing: border-box;
  font-family: $theme-font;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page-footer {
  .btn-container {
    display: flex;
    justify-content: space-between;

    @media #{$small-and-down} {
      display: block;
    }
  }

  .btn {
    font-size: 0.7rem;
    margin: 1rem 0;
  }
}

.menu-title {
  // This is recommanded by materialize.css: http://materializecss.com/color.html
  // scss-lint:disable PlaceholderInExtend
  @extend .red, .darken-4;
  // scss-lint:enable PlaceholderInExtend
}

.footer-copyright .container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
// This comes from MaterializeCSS
// scss-lint:disable IdSelector
#toast-container {
  // scss-lint:enable IdSelector
  height: fit-content;
  left: 50%;
  top: 5%;
  transform: translateX(-50%);
  width: fit-content;

  @media #{$small-and-down} {
    left: 0;
    top: 0;
    transform: none;
    width: 100%;
  }
}
